<div style="border: 1px solid black; padding-top:16px; padding-bottom:16px; padding-left:30px; padding-right:30px; width:364px;">
<% average_cost.each_with_index do |(key, value), index| %>
  <div class="<%= 'border-top' if index == average_cost.length - 1 %> d-flex justify-content-between">
    <div>
      <h5 class="mt-3" style="font-weight: <%= 'bold' if index == average_cost.length - 1 %>; font-size: 17px;">
        <%= index == 1 ? 'Daily transportation' : key.capitalize %>
      </h5>
    </div>
    <div>
      <p class="mt-3" style="font-weight: <%= 'bold' if index == average_cost.length - 1 %>;"><%= value["totalPrice"].gsub('-', ' - ') %></p>
    </div>
  </div>
<% end %>
</div>
