<!-- app/views/trips/index.html.erb -->

<div class="container mt-5 pt-5">

<%# <br> %>
<h1></h1>
<div class="row" style="min-height: 100vh; position: relative;">
  <div class="col-md-8">
    <div class="cards row justify-content-center mb-2">
      <% @trips.each_with_index do |trip, index| %>
        <% if index % 3 == 0 && index != 0 %>
          </div>
          <div class="row justify-content-center mb-2">
        <% end %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem; height: 420px;">
          <%= link_to trip_path(trip), class: "text-decoration-none text-reset" do %>
          <div class="card-image">
            <% if trip.photo_url.present? %>
              <%= image_tag(trip.photo_url, alt: "Card image cap", class: "card-img-top", style: "object-fit:cover;") %>
            <% else %>
              <%= image_tag("logo.png", alt: "Card image cap", class: "card-img-top") %>
            <% end %>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title"><strong><%= trip.destination %></strong></h5>
              <p class="card-text" ><i><%= trip.start_date %> - <%= trip.end_date %></i></p>

              <% require 'json' %>
              <% begin %>
                <% hash = JSON.parse(trip.content.gsub('=>', ':')) %>
                <% first_sentence = hash.values.first.split('.').first.strip %>
              <% rescue JSON::ParserError %>
                <% first_sentence = "Content not available" %>
              <% end %>
              <p class="card-text"><%= first_sentence %></p>
              <% end %>
              <%= button_to delete_specific_trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link ml-auto p-2", style: "background: none; border: none; padding-left: 231px!important;" do %>
                <i class="fa-solid fa-xmark fa-xl" style="color: #fe5f55;"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4"  style="height: 100%; overflow: auto; position: relative;">
    <%= image_tag(asset_path('sea.png'), alt: "Southeast Asia", class: "img-fluid", style: "position: sticky; top: 20;") %>
  </div>
<%= button_to 'Delete All', destroy_all_trips_path, class:"btn btn-outline-red", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div class="text-center mb-3">
<h4>Still not enough? Lets search again </h4>
<%= link_to "Search", root_path, class: "btn btn-outline-white" %>
</div>
</div>
