<!-- app/views/trips/show.html.erb -->
<br>
<br>
<div class="container">
  <div>
    <h1><%= @trip.destination %>✨</h1>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div class="dates">
      <p>Start date: <%= @trip.start_date %></p>
      <p>End date: <%= @trip.end_date %></p>
    </div>
      <%= link_to trips_path, method: :get do %>
          <%= button_tag type: 'button', class: "btn btn-outline-white" do %> Add to
            <i class="fa-solid fa-heart fa-xl" style="color: #fe5f55;"></i>
          <% end %>
        <% end %>
      </div>
  </div>

  <!-- Photo gallery -->

  <div class="show-gallery">
    <div class="images-show-big">
      <%= image_tag 'Italy.jpg' %>
    </div>
    <div class="images-show-small">
      <div class="smaller-images-show">
       <%= image_tag 'italy(1).jpg' %>
      </div>
      <div class="smaller-images-show">
       <%= image_tag 'italy(2).jpg' %>
      </div>
      <div class="smaller-images-show">
        <%= image_tag 'italy(3).jpg' %>
      </div>
      <div class="smaller-images-show">
       <%= image_tag 'italy(5).jpg' %>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!-- Short description -->
  <h5><i class="fa-solid fa-quote-left" style="color: #e95653;"></i></h5>
  <h5><%= @trip.content.split("=>").last[1..-3] %></h5>
  <br>

  <!-- Itinerary -->
  <h2>Additional Suggestions:</h2>
  <%= @trip.additional_suggestions %>
  <% @trip.additional_suggestions.each do |suggestion| %>
    <div class="suggestion">
      <h5><%= suggestion.date %></h5>
      <h5><%= suggestion.suggestions %></h5>
    </div>
  <% end %>
  <br>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
</div>
