<!-- app/views/trips/show.html.erb -->
<div class="container">
  <div>
    <h1><%= @trip.destination %>✨</h1>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div class="dates">
      <p>Start date: <%= @trip.start_date %></p>
      <p>End date: <%= @trip.end_date %></p>
    </div>
      <div>
        <%= button_to 'Add to favourites', trips_path, class: "btn btn-outline-white", method: :get %>
      </div>
  </div>
  <div class="show-gallery">
    <div class="images-show-big">
      <%= image_tag 'Italy.jpg' %>
    </div>
    <div class="images-show-small">
      <div class="smaller-images-show">
       <%= image_tag 'italy(1).jpg' %>
      </div>
      <div class="smaller-images-show">
       <%= image_tag 'italy(2).jpg' %>
      </div>
      <div class="smaller-images-show">
        <%= image_tag 'italy(3).jpg' %>
      </div>
      <div class="smaller-images-show">
       <%= image_tag 'italy(5).jpg' %>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!-- Short description -->
  <h5><i class="fa-solid fa-quote-left" style="color: #e95653;"></i></h5>
  <h5><%= @trip.content.split("=>").last[1..-3] %></h5>
  <br>

  <!-- Itinerary -->
  <h2>Additional Suggestions:</h2>

  <% end %>

  <p><%= @trip.content %></p>
  <h1>Additional Suggestions:</h2>
  <% suggestions = JSON.parse(@trip.additional_suggestions) %>
    <div class="suggestion-card">
      <% suggestions.each do |suggestion| %>
        <h5><%= suggestion["date"]%></h5>
        <% suggestion["suggestions"].each do |sug|%>
          <p><%= sug %></p>
        <% end %>
    </div>
  <br>
  <%= form_with url: { action: "calculate_average", id: @trip.id }, method: :get do %>
    <%= text_field_tag :city_name, nil, placeholder: "Enter city name" %>
    <%= submit_tag 'Calculate Average Cost' %>
  <% end %>
  <br>
  <h2>Calculated Average</h1>
  <p>The average cost for the trip to <%= @trip.destination %> is <%= @trip.average_cost %></p>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
</div>
