<br>
<br>
<br>
<br>
<%# app/views/trips/show.html.erb %>

<div class="container">
  <br>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
  <br>

  <div>
    <h1><%= @trip.destination.capitalize %></h1>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div class="dates pshowtrip">
      <p><em>Start date: <%= @trip.start_date %></em></p>
      <p><em>End date: <%= @trip.end_date %></em></p>
    </div>

    <%= render "user_trips/new"  %>
  </div>
  <div class="show-gallery">
    <div class="images-show-big">
      <%= image_tag @trip.image_urls[0] if @trip.image_urls[0] %>
    </div>
    <div class="images-show-small">
      <% @trip.image_urls.drop(1).each do |url| %>
        <div class="smaller-images-show">
          <%= image_tag url if url %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex justify-content-between border-top">
  <div style="position:relative">
      <h5 class=" pt-3 mt-4"><i class="fa-solid fa-quote-left" style="color: #e95653; position:absolute; top: 28px;left: 3px;font-size:50px"></i> <i class="fa-solid fa-quote-left" style="color: #e95653; position:absolute; top: 348px;left: 816px;font-size:50px; transform: rotate(180deg);"></i></h5>
      <p class="pshowtrip border-button" style="margin-right:199px; margin-top:69px;"><%= @trip.content.split("=>").last[1..-3] %></p>
  </div>
  <div class="average-cost" data-controller="average-cost" style="margin-top:28px; margin-right: 25px">
  <h3 class="h3showtripclass" >Average costs</h3>
    <p><%= render 'average_cost', average_cost: @content_data %></p>
  </div>

  </div>
  <br>

  <!-- Daily Activities---------------- -->
  <h2 class="mt-4 mb-4">Plan your trip</h2>
  <div>
    <% suggestions = JSON.parse(@trip.additional_suggestions)  %>
    <% suggestions.each_with_index do |suggestion, i| %>
      <div class="suggestion-card" data-controller="collapsible">
        <button class="collapsible w-100 text-left d-flex border-top" data-action="click->collapsible#toggle">
          <div class="mr-auto p-2"><h6>Day <%= i + 1 %></h6></div>
          <span class="ml-4"></span>
        </button>
        <div class="collapsible-content" data-collapsible-target="content">
          <div class="text-right mt-3"><%= suggestion["date"]%></div>
          <% suggestion["suggestions"].each do |sug|%>
            <div class="sug d-flex justify-content-between mt-2 align-middle" data-controller="reload-suggestion">
              <p class="p-2"><%= sug %></p>
              <button data-action="click->reload-suggestion#fire" data-path="<%= cancel_suggestion_trip_path(id: @trip.id, suggestion: sug, destination: @trip.destination, date: suggestion['date'])%>" class="cancel-suggestion-trip"><h4><i class="fa-solid fa-rotate-right"></i></h4></button>
            </div >
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flight-info border-top" data-controller="flights">
    <h2 class="h2showtripclass">Lets find the best flights to <%= @trip.destination.capitalize %></h2>
    <%= form_with url: { action: "get_trip_flight_info", id: @trip.id }, method: :post, html: {data: {action: "submit->flights#generate"}, style: "display: flex; height:50px;"} do %>
      <%= text_field_tag :city_name, nil, placeholder: "From #{current_user.address}", html: {data: {flights_target: "input"}}, style: "border-radius: 0; height: 50px; width:358px; border: 1px solid black; padding:16px;" %>
      <%= button_tag(type: 'submit', id: 'submit-btn', class: 'btn btn-outline-black', style: "border:none;") do %>
  <i class="fa fa-search"></i>
<% end %>
<% end %>
<h4 class="mt-4">Flight options:</h4>
    <div class="flight-results" data-flights-target="results"></div>
  </div>
  <br>
  <br>
  <br>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
</div>
