<br>
<br>
<br>
<br>
<%# app/views/trips/show.html.erb %>

<div class="container">
  <br>
  <div>
    <h1><strong><%= @trip.destination %>✨</strong></h1>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div class="dates">
      <p>Start date: <%= @trip.start_date %></p>
      <p>End date: <%= @trip.end_date %></p>
    </div>

    <%= render "user_trips/new"  %>
  </div>
  <div class="show-gallery">
    <div class="images-show-big">
      <%= image_tag @trip.image_urls[0] if @trip.image_urls[0] %>
    </div>
    <div class="images-show-small">
      <% @trip.image_urls.drop(1).each do |url| %>
        <div class="smaller-images-show">
          <%= image_tag url if url %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <h5 class="border-top pt-3 mt-4"><i class="fa-solid fa-quote-left" style="color: #e95653;"></i></h5>
  <h5><%= @trip.content.split("=>").last[1..-3] %></h5>
  <br>

  <!-- Daily Activities---------------- -->
  <h2>Plan your trip:</h2>
  <div>
    <% suggestions = JSON.parse(@trip.additional_suggestions)  %>
    <% suggestions.each_with_index do |suggestion, i| %>
      <div class="suggestion-card" data-controller="collapsible">
        <button class="collapsible w-100 text-left d-flex border-top" data-action="click->collapsible#toggle">
          <div class="mr-auto p-2"><h6>Day <%= i + 1 %></h6></div>
          <span class="ml-4"></span>
        </button>
        <div class="collapsible-content" data-collapsible-target="content">
          <div class="text-right mt-3"><%= suggestion["date"]%></div>
          <% suggestion["suggestions"].each do |sug|%>
            <div class="sug d-flex justify-content-between mt-2 align-middle" data-controller="reload-suggestion">
              <p class="p-2"><%= sug %></p>
              <button data-action="click->reload-suggestion#fire" data-path="<%= cancel_suggestion_trip_path(id: @trip.id, suggestion: sug, destination: @trip.destination, date: suggestion['date'])%>" class="cancel-suggestion-trip"><h4><i class="fa-solid fa-rotate-right"></i></h4></button>
            </div >
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <h2>Calculated Average</h2>
  <p>The average cost for the trip to <%= @trip.destination %> is <%= @trip.average_cost %></p>
  <br>
  <div class="flight-info" data-controller="flights">
    <%= form_with url: { action: "get_trip_flight_info", id: @trip.id }, method: :post, html: {data: {action: "submit->flights#generate"}} do %>
      <%= text_field_tag :city_name, nil, placeholder: "Enter city name", html: {data: {flights_target: "input"}} %>
      <%= submit_tag 'Calculate Average Cost' %>
    <% end %>
    <div class="flight-results" data-flights-target="results"></div>
  </div>

  <br>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
</div>
