<br>
<br>
<%# app/views/trips/show.html.erb %>

<div class="container">
  <br>
  <div>
    <h1><%= @trip.destination %>✨</h1>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div class="dates">
      <p>Start date: <%= @trip.start_date %></p>
      <p>End date: <%= @trip.end_date %></p>
    </div>

    <%= render "user_trips/new"  %>
  </div>
  <div class="show-gallery">
    <div class="images-show-big">
      <%= image_tag @trip.image_urls[0] if @trip.image_urls[0] %>
    </div>
    <div class="images-show-small">
      <% @trip.image_urls.drop(1).each do |url| %>
        <div class="smaller-images-show">
          <%= image_tag url if url %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <h5 class="border-top pt-3 mt-4"><i class="fa-solid fa-quote-left" style="color: #e95653;"></i></h5>
  <h5><%= @trip.content.split("=>").last[1..-3] %></h5>
  <br>

  <!-- Daily Activities---------------- -->
  <h2>Plan your trip:</h2>
  <div>
    <% suggestions = JSON.parse(@trip.additional_suggestions)  %>
    <% suggestions.each_with_index do |suggestion, i| %>
      <div class="suggestion-card">
        <button class="collapsible w-100 text-left d-flex border-top">
          <div class="mr-auto p-2"><h6>Day <%= i + 1 %></h6></div>
          <span class="ml-4"></span>
        </button>
        <div class="collapsible-content">
          <div class="text-right mt-3"><%= suggestion["date"]%></div>
          <% suggestion["suggestions"].each do |sug|%>
            <div class="sug d-flex justify-content-between mt-2 align-middle" data-controller="reload-suggestion">
              <p class="p-2"><%= sug %></p>
              <button data-action="click->reload-suggestion#fire" data-path="<%= cancel_suggestion_trip_path(id: @trip.id, suggestion: sug, destination: @trip.destination, date: suggestion['date'])%>" class="cancel-suggestion-trip"><h4><i class="fa-solid fa-rotate-right"></i></h4></button>
            </div >
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <%= form_with url: { action: "calculate_average", id: @trip.id }, method: :get do %>
    <%= text_field_tag :city_name, nil, placeholder: "Enter city name" %>
    <%= submit_tag 'Calculate Average Cost' %>
  <% end %>
  <br>
  <h2>Calculated Average</h2>
  <p>The average cost for the trip to <%= @trip.destination %> is <%= @trip.average_cost %></p>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
</div>

<!-- Collapsible script -->
<script>
  let coll = document.getElementsByClassName("collapsible");

  for (let i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      let content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>
