<!-- app/views/trips/show.html.erb -->
<div class="container">
  <div>
    <h1><%= @trip.destination %>✨</h1>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div class="dates">
      <p>Start date: <%= @trip.start_date %></p>
      <p>End date: <%= @trip.end_date %></p>
    </div>

    <%= render "user_trips/new"  %>
  </div>
  <div class="show-gallery">
    <div class="images-show-big">
      <%= image_tag @trip.image_urls[0] if @trip.image_urls[0] %>
    </div>
    <div class="images-show-small">
      <% @trip.image_urls.drop(1).each do |url| %>
        <div class="smaller-images-show">
          <%= image_tag url if url %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>

  <!-- Short description -->
  <h5><i class="fa-solid fa-quote-left" style="color: #e95653;"></i></h5>
  <h5><%= @trip.content.split("=>").last[1..-3] %></h5>
  <br>

  <!-- Itinerary -->
  <h2>Additional Suggestions:</h2>
  <p><%= @trip.content %></p>
  <% suggestions = JSON.parse(@trip.additional_suggestions) %>
    <% suggestions.each do |suggestion| %>
   <div class="suggestion-card">
      <h5><%= suggestion["date"]%></h5>
      <% suggestion["suggestions"].each do |sug|%>
        <p><%= sug %></p>
        <%= button_to 'Cancel', cancel_suggestion_trip_path(id: @trip.id, suggestion: sug, destination: @trip.destination, date: suggestion['date']), method: :patch, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <% end %> <!-- This is the missing end -->
  <br>
  <%= form_with url: { action: "calculate_average", id: @trip.id }, method: :get do %>
    <%= text_field_tag :city_name, nil, placeholder: "Enter city name" %>
    <%= submit_tag 'Calculate Average Cost' %>
  <% end %>
  <br>
  <h2>Calculated Average</h2>
  <p>The average cost for the trip to <%= @trip.destination %> is <%= @trip.average_cost %></p>
  <%= button_to 'Back', trips_path, class: "btn btn-outline-black", method: :get %>
  </div>
