<div class="navbar navbar-expand-sm navbar-light" data-controller="navbar" data-action="scroll@window->navbar#scroll">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "TSWIFT.jpg" %>
      <% end %>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <!-- About us -->
        <li class="nav-item">
          <span class="hyperlink"><%= link_to "About us", "#", class: "nav-link" %></span>
          <a class="icon" href="#" id="about-us"><%= image_tag "icons/group128.png" %></a>
        </li>
        <!-- Home -->
        <li class="nav-item">
          <span class="hyperlink"><%= link_to "Home", "#", class: "nav-link" %></span>
          <a class="icon" href="#" id="home"><%= image_tag "icons/home64.png" %></a>
        </li>
        <!-- Dashboard -->
        <li class="nav-item">
          <span class="hyperlink"><%= link_to "Dashboard", "#", class: "nav-link" %></span>
          <a class="icon" href="#" id="dashboard"><%= image_tag "icons/user48.png"  %></a>
        </li>
      </ul>
    </div>
  </div>
</div>
