 <br style="height: 500px;">
  <!-- MAP #######-->
<div id="map" class="w-100" style="height: 500px; z-index: 1"></div>

  <script>
    var countriesGeoJSON = <%= @countries_geojson.html_safe %>;
  </script>
  <script src="/assets/map.js"></script>
<div class="container pt-5 mt-5">
<div class="d-flex justify-content-center" >
<%= form_tag("/trips", method: "post", remote: true) do %>
  <div>
    <%= label_tag(:destination, "Country:") %>
    <%= text_field_tag(:destination, nil, id: "destination-text-field") %>
    <%= hidden_field_tag :destination, nil, id: "destination-field" %>
  </div>
  <div>
    <%= label_tag(:start_date, "Start Date:") %>
    <%= text_field_tag(:start_date, nil, type: "date") %>
  </div>
  <div>
    <%= label_tag(:end_date, "End Date:") %>
    <%= text_field_tag(:end_date, nil, type: "date") %>
  </div>
  <%= submit_tag("Submit") %>
<% end %>
<main class="flex flex-col justify-items-stretch grow shrink">
  <header>
  </header>

</main>
</div>
<br>

    <div class="h2">
  <h2>Where to travel?</h2>
  </div>
<h2 class="h2">Explore the most popular European destinatioins</h2>
  <div id="carouselExampleControls1" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_europe[0..3].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% @suggestions_europe[4..11].each_slice(4) do |suggestions| %>
        <div class="carousel-item">
          <div class="d-flex" style="width: 100%; justify-content: center;">
            <% unless suggestions[0].nil? %>
              <%= link_to suggestion_path(suggestions[0]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[0].photos.first)%>">
                  <h4><%= suggestions[0].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[1].nil? %>
              <%= link_to suggestion_path(suggestions[1]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[1].photos.first)%>">
                  <h4><%= suggestions[1].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[2].nil? %>
              <%= link_to suggestion_path(suggestions[2]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[2].photos.first)%>">
                  <h4><%= suggestions[2].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[3].nil? %>
              <%= link_to suggestion_path(suggestions[3]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[3].photos.first)%>)">
                  <h4><%= suggestions[3].title %></h4>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
      <img class="arrow" src="<%= asset_path('icons/arrow-left.svg') %>" alt="arrow-left"/>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
      <img class="arrow" src="<%= asset_path('icons/arrow-rightt.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<h2 class="h2">Want to experience something completely different? Visit Asia</h2>
    <%#  %>
<div id="carouselExampleControls2" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_asia[0..3].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% @suggestions_asia[4..7].each_slice(4) do |suggestions| %>
        <div class="carousel-item">
          <div class="d-flex" style="width: 100%; justify-content: center;">

            <% unless suggestions[0].nil? %>
              <%= link_to suggestion_path(suggestions[0]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[0].photos.first)%>)">
                  <h4><%= suggestions[0].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[1].nil? %>
              <%= link_to suggestion_path(suggestions[1]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[1].photos.first)%>)">
                  <h4><%= suggestions[1].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[2].nil? %>
              <%= link_to suggestion_path(suggestions[2]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[2].photos.first)%>)">
                  <h4><%= suggestions[2].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[3].nil? %>
              <%= link_to suggestion_path(suggestions[3]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[3].photos.first)%>)">
                  <h4><%= suggestions[3].title %></h4>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <img class="arrow" src="<%= asset_path('icons/arrow-left.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <img class="arrow" src="<%= asset_path('icons/arrow-rightt.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h2 class="h2">South America is a perfect destinations for active holiday</h2>

  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_latin_america[0..3].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% @suggestions_latin_america[4..7].each_slice(4) do |suggestions| %>
        <div class="carousel-item">
          <div class="d-flex" style="width: 100%; justify-content: center;">

            <% unless suggestions[0].nil? %>
              <%= link_to suggestion_path(suggestions[0]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[0].photos.first)%>)">
                  <h4><%= suggestions[0].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[1].nil? %>
              <%= link_to suggestion_path(suggestions[1]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[1].photos.first)%>)">
                  <h4><%= suggestions[1].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[2].nil? %>
              <%= link_to suggestion_path(suggestions[2]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[2].photos.first)%>)">
                  <h4><%= suggestions[2].title %></h4>
                </div>
              <% end %>
            <% end %>

            <% unless suggestions[3].nil? %>
              <%= link_to suggestion_path(suggestions[3]), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestions[3].photos.first)%>)">
                  <h4><%= suggestions[3].title %></h4>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <img class="arrow" src="<%= asset_path('icons/arrow-left.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <img class="arrow" src="<%= asset_path('icons/arrow-rightt.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>
