
  <!-- MAP #######-->
<div id="map" class="w-100" style="height: 500px; z-index: 1"></div>
  <script>
    var countriesGeoJSON = <%= @countries_geojson.html_safe %>;
    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('trip-form').addEventListener('submit', function() {
      // Show loading overlay and bar when form is submitted
      document.getElementById('loading-overlay').style.display = 'block';
      document.getElementById('loading-bar-container').style.display = 'block';
    });

    // Hide loading overlay and bar after a delay (simulate loading completion)
    window.addEventListener('load', function() {
      document.getElementById('loading-overlay').style.display = 'none';
      document.getElementById('loading-bar-container').style.display = 'none';
    });
  });
  </script>
  <script src="/assets/map.js"></script>
<div class="container">
<div class="d-flex justify-content-center" id="form-container" >
      <div class='welcomeText'>
      <h2>Your smart travel advisor</h2>
      <p>Let’s plan a trip quickly and smart together!</p>
      </div>
  <div class='searchbar'>
<%= form_tag("/trips", method: "post", remote: true, id: "trip-form", class: "d-flex") do %>
  <div id="fieldSB" class="mr-2">
    <%= label_tag(:destination, "Country:") %>
    <%= text_field_tag(:destination, nil, id: "destination-text-field") %>
    <%= hidden_field_tag :hidden_destination, nil, id: "destination-field" %>
  </div>
  <div id="fieldSB" class="mr-2">
    <%= label_tag(:start_date, "Start Date:") %>
    <%= text_field_tag(:start_date, nil, type: "date", required: true) %>
  </div>
  <div id="fieldSB" class="mr-2">
    <%= label_tag(:end_date, "End Date:") %>
    <%= text_field_tag(:end_date, nil, type: "date", required: true) %>
  </div>
<%= button_tag(type: 'submit', id: 'submit-btn') do %>
  <i class="fa fa-search"></i>
<% end %>
<% end %>
</div>
<main class="flex flex-col justify-items-stretch grow shrink">
  <header>
  </header>

</main>
</div>
<br>

    <div class="h2">
  <h2>Where to travel?</h2>
  </div>
<h2 class="h2home">European Escapes: Uncover the Old World's Charm!</h2>
  <div id="carouselExampleControls1" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" id="curacaobackground">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_europe[0..3].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" id="curacaobackground">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_europe[4..7].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" id="curacaobackground">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_europe[8..11].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
      <img class="arrow" src="<%= asset_path('icons/arrow-left.svg') %>" alt="arrow-left"/>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
      <img class="arrow" src="<%= asset_path('icons/arrow-rightt.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<h2 class="h2home">Asian Adventures Await: Discover Exotic Destinations!</h2>

<div id="carouselExampleControls2" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" id="curacaobackground">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_asia[0..3].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

        <div class="carousel-item" id="curacaobackground">
          <div class="d-flex" style="width: 100%; justify-content: center;">
            <% @suggestions_asia[4..7].each do |suggestion| %>
              <%= link_to suggestion_path(suggestion), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                  <h4><%= suggestion.title %></h4>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <img class="arrow" src="<%= asset_path('icons/arrow-left.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <img class="arrow" src="<%= asset_path('icons/arrow-rightt.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="h2home">Latin Rhythms & Riches: Embark on a Journey through Latin America!</h2>

  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" id="curacaobackground">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @suggestions_latin_america[0..3].each do |suggestion| %>
            <%= link_to suggestion_path(suggestion), class: "link" do %>
              <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                <h4><%= suggestion.title %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

        <div class="carousel-item" id="curacaobackground">
          <div class="d-flex" style="width: 100%; justify-content: center;">
            <% @suggestions_latin_america[4..7].each do |suggestion| %>
              <%= link_to suggestion_path(suggestion), class: "link" do %>
                <div class="card-suggestion" style="background-image: url(<%= url_for(suggestion.photos.first)%>)">
                  <h4><%= suggestion.title %></h4>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <img class="arrow" src="<%= asset_path('icons/arrow-left.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <img class="arrow" src="<%= asset_path('icons/arrow-rightt.svg') %>" alt="arrow-right"/>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <%= render 'shared/loading_bar' %>



</div>
