  <br style="height: 500px;">
  <!-- MAP #######-->
  <%# <div id="map" class="w-100" style="height: 500px; z-index: 1"></div> %>

      <%# var countriesGeoJSON = <%= @countries_geojson.html_safe %>; %>=
    <%# <script> %>
    <%# </script> %>
    <%# <script src="/assets/map.js"></script> %>

<div class="d-flex justify-content-center" >
<%= form_tag("/trips", method: "post", remote: true) do %>
  <div>
    <%= label_tag(:destination, "Country:") %>
    <%= text_field_tag(:destination) %>
    <%= hidden_field_tag :destination, nil, id: "destination-field" %>
  </div>
  <div>
    <%= label_tag(:start_date, "Start Date:") %>
    <%= text_field_tag(:start_date, nil, type: "date") %>
  </div>
  <div>
    <%= label_tag(:end_date, "End Date:") %>
    <%= text_field_tag(:end_date, nil, type: "date") %>
  </div>
  <%= submit_tag("Submit") %>
<% end %>
<main class="flex flex-col justify-items-stretch grow shrink">
  <header>
  </header>

</main>
</div>
<br>
