  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @suggestion.photos[0].key %>);">
  <div class="banner-text">
    <h1> Explore <%= @suggestion.title %> </h1>
</div>
</div>
<div class="containershow">
  <div class="section d-flex justify-content-center my-3">
    <div style="display: flex; flex-direction: column; justify-content: center; margin-right:16px; ">
      <h2 class="h2 my-4"><%= @suggestion.subtitle %></h2>
      <p class="pshow"> <%= @suggestion.paragraph1 %> </p>
    </div>
    <div>
      <%= cl_image_tag @suggestion.photos[1].key, height: 300, width: 400 %>
    </div>
  </div>

  <div class="section d-flex flex-column justify-content-center align-items-center my-3" style="position: relative;">
    <p class="italic pshow"><%= @suggestion.author %></p>
    <h5 class="italic" style="margin-bottom: 16px;"><i class="fa-solid fa-quote-left" style="color: #e95653; position: absolute; top: 6px;left: 154px;font-size: 49px;"></i>  <%= @suggestion.quote %></h5>
    <p class="pshow"> <%= @suggestion.paragraph2 %> </p>
  </div>

  <div class="section d-flex justify-content-center my-3">
    <div>
      <%= cl_image_tag @suggestion.photos[2].key, height: 300, width: 400 %>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; margin-left:16px;">
      <p class="pshow"> <%= @suggestion.paragraph3 %> </p>
    </div>
  </div>


</div>
